<ion-split-pane contentId="content">
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>Menu</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeMenu()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>

        <ion-item lines="full" class="profile-item">
          <ion-avatar slot="start" class="user-avatar">
            <img [src]="user.image ?? 'assets/img/user.jpg'" alt="User Avatar" />
          </ion-avatar>
          <ion-label class="user-info">
            <h2 class="username">{{ user.name }} {{ user.last_name }}</h2>
            <p class="user-role">Administrador</p>
          </ion-label>
        </ion-item>

        <ion-item lines="full" button (click)="home()">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>

        <ion-item lines="full" button (click)="account()">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-label>Account</ion-label>
        </ion-item>

        <ion-item lines="full" button (click)="searchUser()">
          <ion-icon slot="start" name="search-circle-outline"></ion-icon>
          <ion-label>Search User</ion-label>
        </ion-item>

        <ion-item lines="full" button (click)="logOut()">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          <ion-label>Exit</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>

