<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Users</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Searchbar with some spacing -->
  <ion-toolbar>
    <ion-searchbar
      placeholder="Search users"
      (ionInput)="searchUser($event)"
      color="light"
      class="custom-searchbar">
    </ion-searchbar>
  </ion-toolbar>

  <!-- User List -->
  <ion-list lines="none" class="custom-list">
    <ion-item *ngFor="let user of users" class="custom-item">
      <ion-avatar slot="start">
        <img [src]="user?.image || 'assets/img/profile.png'" alt="User Avatar">
      </ion-avatar>
      <ion-label>
        <h2 class="user-name">{{ user?.name }} {{ user?.last_name }}</h2>
        <p class="user-detail">Seguidos: {{ user?.followees.length }} </p>
        <p class="user-detail">Seguidores: {{ user?.followers.length  }} </p>
      </ion-label>
      <ion-button
        slot="end"
        color="danger"
        shape="round"
        fill="outline"
        size="small"
        (click)="toggleFollow(user)">
        <ion-icon
          slot="start"
          [name]="user.is_following ? 'heart-dislike-outline' : 'heart-outline'">
        </ion-icon>
        {{ user.is_following ? 'Dejar de seguir' : 'Seguir' }}
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
