<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-container">
  <ion-list>
    <ion-progress-bar type="indeterminate" color="danger" *ngIf="isLoading" ></ion-progress-bar>
    <ion-card *ngFor="let post of posts" class="post-card">

      <ion-card-header class="post-header">
        <div class="user-info">
          <ion-avatar class="user-avatar">
            <img [src]="post?.user?.image ?? 'assets/img/user.jpg'" alt="User Avatar" />
          </ion-avatar>
          <span class="user-name">{{post.user.name}}</span>
        </div>
      </ion-card-header>

      <img src="{{post.image}}" alt="Post Image" class="post-image">

      <ion-card-content class="post-content">
        <p class="post-description">{{post.description}}</p>
      </ion-card-content>

      <ion-card-footer class="post-footer">
        <button ion-button class="action-button">Like</button>
        <button ion-button class="action-button">Comment</button>
      </ion-card-footer>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadPost($event)" *ngIf="hasMore">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more posts..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button (click)="addPost()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>




