<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>{{ user_data.name }} {{ user_data.last_name }}</ion-title>
  <ion-avatar (click)="takePhone()">
    <img [src]="user_data.image" alt="imagen de perfil" />
  </ion-avatar>
  <p>Usuario: {{ '@' + user_data.username }}</p>
  <p>Seguidores: {{ user_data.followed_users.length }}</p>
  <p>Seguidos: {{ user_data.following_users.length }}</p>
</ion-content>
