<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding profile-page">
  <div class="profile-container">
    <ion-avatar class="profile-avatar" (click)="takePhone()">
      <img [src]="user_data.image ?? 'assets/img/profile.png' " alt="imagen de perfil" />
    </ion-avatar>

    <p class="profile-name">
      {{ user_data?.name }} {{ user_data?.last_name }}
    </p>

    <p class="profile-username">{{ '@' + user_data.username }} </p>

    <div class="profile-stats">
      <div class="stat-item">
        <ion-label>Seguidores</ion-label>
        <span>{{ user_data.followed_users.length }}</span>
      </div>
      <div class="stat-item">
        <ion-label>Seguidos</ion-label>
        <span>{{ user_data.following_users.length }}</span>
      </div>
    </div>

    <ion-button expand="block" color="danger" (click)="editAccount()" >
      Edit profile
    </ion-button>
  </div>
</ion-content>

